@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
        <div>
            <h1 class="headTodo display-4 mb-0 py-3 mt-4">TO DO LIST</h1>
        </div>
    <div class="boxTodo">
        <div class="inputSection">
            <input class="inputForm" id="todoInput" type="text" value="" placeholder="scrivi un todo.." />
            <button class="addBtn" onclick="addTodo()">Aggiungi</button>
        </div>
        <div class="lista-todo">
        </div>
    </div>
</div>
